<!DOCTYPE html>
<html>
    <head>
        <title>Caleb Travel</title>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="Caleb Travel logo"></header>
        {{{body}}}
    </body>
</html>